{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <form action="{% url 'orderdelete' %}" method="post">
        {% csrf_token %}
        {% if order %}
            <ul class="list-group">
                <li class="list-group-item active"><h5>{{shop.shopname}}</h5></li>
                <li class="list-group-item">
                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" value={{order.id}} readonly name="orderid">
                </li>
                <li class="list-group-item"><h4>{{order.product}}</h4></li>
                <li class="list-group-item">    
                    <div class="alert alert-danger" role="alert">
                        Confirm Delete!!!
                    </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Yes</button>
                </li>
            </ul>
        {% endif %}
    </form>


{% comment %} <div class="row">
    <a class="btn btn-link" href="{% url 'delivery' %}" role="button">Delivery</a> 
</div> {% endcomment %}
</div>


 {% endblock %}